.pok-list{
    width: 90%;
    left: 5%;
    position: relative;
    top: 60px;
}p {
    font-family: Lato;
  }

  .search-pok{
    position: relative;
    top: 45px;
    /* width: 501px; */
    left: 30%;


  }

  .input-search{
      width: 40%;
      height: 30px;
  }
  .paginator{
    max-width: 76%;
  }
  .container {
    padding: 10px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  