

<mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
  <mat-card-title>{{name}}</mat-card-title>
  <img mat-card-image style="min-width: 100%;height: auto;"  [src]="pokemonData?.sprites.other.dream_world.front_default"
  alt="Photo of {{name}}">
  <mat-card-content>  
     
    <ol *ngIf="!!pokemonData?.abilities?.length">
      <b>Abilities</b>
      <li *ngFor="let ab of pokemonData?.abilities" >{{ab.ability.name}}</li>
      </ol>
  </mat-card-content>
</mat-card>
