<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>Height: {{pokemonData?.height}}</mat-card-subtitle>
    <mat-card-subtitle>Weight: {{pokemonData?.weight}}</mat-card-subtitle>

    <img mat-card-lg-image [src]="pokemonData?.sprites.other.dream_world.front_default" >
  </mat-card-title-group>
  <mat-card-content>
 <div *ngIf="!!pokemonData?.abilities?.length" >
   
   <ol >
     <b>Abilities</b>
     <li *ngFor="let ab of pokemonData?.abilities" >{{ab.ability.name}}</li>
     </ol>
 </div>
  </mat-card-content>
</mat-card>